<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creativeitem.academy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.CoursePurchaseActivity"></activity>
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.EditProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.QuizActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.LessonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignInActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" /> <!-- No History true means it will not let you go back to this activity... thats cool -->
        <activity
            android:name=".Activities.LauncherActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.BottomNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name=".Activities.FullScreenLessonPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Activities.CourseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>